/* imagenes PRODUCTOS */

.contenedorProductos {
    padding-top: 20px;
    padding-bottom: 20px;

    &__imgProductos {
        width: 286px;
        height: 300px;
    }

    &__borde {
        border: 1px solid rgb(50, 146, 50);
        box-shadow: 2px 2px 3px 6px rgba(168, 165, 165, 0.2);
        overflow: auto;
    }

    &__p {
        font-size: 30px;
        font-style: italic;
        font-family: roboto condesed;
    }
}

.margen {
    margin: 30px;
}