// responsive

/* mobile */

@media (max-width: 768px) {
 /*titulos*/

    h1.titulo {
        padding-top: 60px;
        font-size: 2.6rem;
        font-family: roboto condesed;
    }

.titulo-productos {
    padding-top: 66px;
}
.tituloCarrito {
    padding-top: 66px;
}
.tituloContacto {
    padding-top: 66px;
}
.tituloCuidados {
    padding-top: 66px;
}
h5 {
    font-size: 15px;
}
/*fin titulos*/

    .header__logo {
      margin-left: 120% !important;
    }

    .contenedorProductos {
       display: flex;
       justify-content: center;
    }
     .contenedorCuidados {
       flex-flow: nowrap;
       padding-left: 0%;
     }
     .contenedorCuidados__img {
         width: 220px;
         height: 220px;
     }
    
    main {
        padding-top: 10px;
    }

    .iconos {
        margin-right: 30px;
    }

    .footer {
        font-size: 16px;
      }

      .footer .footer-left,
      .footer .footer-center,
      .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }
      .redes {
          margin-bottom: 24px;
      }
      .info {
          align-items: center;
      }

    .form {
        width: 100% !important;
    }


}

/* Tablet */
@media (min-width: 769px) and (max-width:1024px) {

    .footer {
        background-image: linear-gradient(500deg, rgb(148, 151, 148), rgb(3, 3, 3));
        background-color: #2a2e2a;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;

        &__img {
            padding: 1px;
        }

        &__p {
            color: white;
        }
    }

    .header__logo {
        margin-left: 250%;
    }


    /*titulos*/
    .titulo {
        padding-top: 20%;
    }
    .titulo-productos {
        padding-top: 20%;
    }

    .tituloCarrito {
        padding-top: 20%;
    }

    .tituloContacto {
        padding-top: 20%;
    }

    .tituloCuidados {
        padding-top: 20%;
    }

    .titulo {
        padding-top: 20%;
    }

    /*fin titulos*/

    .deco {
        overflow: hidden;
    }

    .contenedorCuidados {
        flex-flow: nowrap;
    }

    .formulario__imgFormulario {
        display: none;
    }

    .form {
        width: 100% !important;
    }

    .iconos {
        margin-right: 40px;
    }
}



/* Notebook */
@media (max-width:1024px) {

    .footer {
        background-image: linear-gradient(500deg, rgb(148, 151, 148), rgb(3, 3, 3));
        background-color: #2a2e2a;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;

        &__img {
            padding: 1px;
        }

        &__h5 {
            color: white;
            font-size: 0.5rem;
        }

        &__p {
            color: white;
        }
    }
}