// responsive

/* mobile */
@media only screen and (min-width: 320px) and (max-width: 768px) {

    /*titulos*/
    h1.titulo {
        padding-top: 60px;
        font-size: 2.6rem;
        font-family: roboto condesed;
    }

    .titulo-productos {
        padding-top: 66px;
    }

    .tituloCarrito {
        padding-top: 66px;
    }

    .tituloContacto {
        padding-top: 66px;
    }

    .tituloCuidados {
        padding-top: 66px;
    }

    h5 {
        font-size: 15px;
    }

    /*fin titulos*/

    .navbar-nav {
        display: flex;
        align-items: center;
    }
    .header__logo {
        margin-left: auto;
    }

    .contenedorProductos {
        display: flex;
        justify-content: center;
    }

    .contenedorCuidados {
        flex-flow: nowrap;
        padding-left: 0%;
    }

    .contenedorCuidados__img {
        width: 220px;
        height: 220px;
    }

    main {
        padding-top: 10px;
    }

    .iconos {
        margin-right: 30px;
    }
/*footer*/
    .footer {
        font-size: 16px;
    }

    .footer__p {
        display: none;
    }

    .redes {
        display: inherit;
        position: relative;
        margin-top: 184px;
    }

    .menu {
        display: none;
    }

    .info {
        display: inherit;
        position: relative;
        margin-left: 50%;
    }

    h6.redes {
        display: none;
    }

    h6.info {
        position: relative;
    }
    
/*fin footer*/
    .form {
        width: 100% !important;
    }

}

/* Tablet */
@media only screen and (min-width: 769px) and (max-width:1024px) {

    /*titulos*/
    .titulo {
        padding-top: 10%;
    }

    .titulo-productos {
        padding-top: 10%;
    }

    .tituloCarrito {
        padding-top: 10%;
    }

    .tituloContacto {
        padding-top: 10%;
    }

    .tituloCuidados {
        padding-top: 10%;
    }

    /*fin titulos*/

    .navbar-nav {
        display: flex;
        align-items: center;
    }

    .deco {
        overflow: hidden;
    }

    .contenedorCuidados {
        flex-flow: nowrap;
    }

    .formulario__imgFormulario {
        display: none;
    }

    .form {
        width: 100% !important;
    }

    .iconos {
        margin-right: 40px;
    }

    /*footer*/

    .footer {
        background-image: linear-gradient(500deg, rgb(148, 151, 148), rgb(3, 3, 3));
        background-color: #2a2e2a;
    }

    .footer__p {
        display: none;
    }

    .menu {
        display: none;
    }

    .redes {
        display: inherit;
        position: relative;
        margin-top: 184px;
    }

    .info {
        display: inherit;
        position: relative;
        margin-left: 120%;
    }

    h6.redes {
        display: none;
    }

    /*fin footer*/

    .contenedorCuidados {
        flex-flow: column;
    }

    .contenedorProductos {
        padding-right: 31%;
    }
}

/* Notebook */

@media only screen and (min-width:1025px) and (max-width:1200px) {

    .contenedorProductos {
        margin-left: 20px;
    }
}