// IMPORTACIONES+
@import "_titulos";
@import "_header";
@import "_responsive";
@import "_productos";
@import "_formularios";
@import "_footer";

//VARIABLES
$verde:#748c74;
$rosa: rgb(231, 118, 118);
$ancho:55px;
$alto:5px;

//MIXIN 
@mixin medidas ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

main {
    margin-top: 140px;
}

/*CARRITO*/
.carrito {
    background: url("../imagenes/imagen-6.jpg") no-repeat 1px 1px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.texto {
    color: black;
}



.caja {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__parrafo {
        font-size: 20px;
        margin-left: 3.5rem;
        margin-right: 3.5rem;
        padding: 8px;
        font-family: roboto condesed, monospace;
    }
}

/*WHATSAPP*/
.btn-wsp {
    position: fixed;
    width: $ancho;
    height: $alto;
    line-height: 55px;
    bottom: 30px;
    right: 20px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    background: rgb(41, 199, 41);
}

/* Iconos centrales Index */
.iconos {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: center;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;

    &__img {
        padding-left: 2rem;
        border: 2px violet;

        &__p {
            font-size: 18px;
        }
    }
   }

 /* imagenes Deco */
    .contenedorImg {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;

        &__imgIndex {
            display: flex;
            justify-content: center;
        }
    }

/*SECCION CUIDADOS*/
.contenedorCuidados {
    margin-top: 20px;
    margin-left: 20px;

    &__img {
        width: 250px;
        height: 250px;
    }
}

.card1 {
    border: none;
}